.header-main {
    height: 60px;
    width: 100%;
    display: flex;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header-right {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.navbar-favicon {
    height: 70%;
    width: auto;
    margin-right: 20px;
}

.header-left button,
.header-right button {
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
}

.header-left button.active,
.header-right button.active {
    color: #12400E !important;
    text-decoration: underline; 
    font-weight: bold;
}

.header-left button:hover,
.header-right button:hover {
    background-color: rgba(18, 64, 14, 0.1); 
}

.header-left button:active,
.header-right button:active {
    color: #12400E !important;
}